:root{
    --main-cor:brown;

    
}

*{
    margin: 0;
    padding: 0;
}
input{
    text-align: center;
}
body{
    background-color: rgb(230, 141, 125);
}
#header{
    background-color: var(--main-cor);
    width: 100vw;
    height: 6vh;
    border-bottom: solid 2px black;
}

#header img{
    width: 5vw;
    height: 5vh;
    margin: 0.5vh;

}
#header a{
    position: relative;
    float: right;
    text-decoration: none;
    margin-top: 1.5vh;
    margin-right: 1.5vw;
    color: black;
    font-size: 1.5em;
}

#sec{
    width: 40vw;
    background-color: var(--main-cor);
    margin: 0 auto 0 auto;
    border-radius: 15px;
    position: relative;
    bottom: -3vh;
    border: solid 2px black;

   

}

#sec h2{
    margin: 5px auto 5px auto;
    text-align: center;
    padding: 5px;
    font: normal 1.8em Helvetica sans-serif;

    
}

#info_top{
    text-align: center;
    margin: 5px auto 5px auto;
    font-size: 1.1em;
    position: relative;
}

#info_bot{
    text-align: center;
    margin: 15px auto 5px auto;
    font-size: 1.1em;
    position: relative;
}

#sec2{
    width: 40vw;
    background-color: var(--main-cor);
    margin: 0 auto 0 auto;
    border-radius: 15px;
    border: solid 2px black;
    position: relative;
    top: 6vh;
    text-align: center;
    font-size: 1.2em;
    padding: 3px;

}
#sec2 h2{
    margin:0 auto 0 auto;
    text-align: center;
    padding: 5px;
    font: normal 1.5em Helvetica sans-serif;
}

.format{
    margin: 5px;
}
.rua{
    width: 35vw;
}
.num{
    width: 60px;
}
footer{
    background-color: var(--main-cor);
    width: 100vw;
    height: 6vh;
    border-top: solid 2px black;
    position: absolute;
    bottom: 0px;
    
}
